
*.class
.idea/workspace.xml
.idea/discord.xml
.idea/HBACr.iml
.idea/misc.xml
.idea/workspace.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
